input[type=text]{
    width: 80%;
    height: 60%;
    /* padding: 3px 20px; */
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    /* border-bottom: 1px solid black; */
    background-color: #eeeded;
    border-radius: 5px;
}

form{
    display: grid;
}
label{
    color: white;
    font-size: small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 8%;
}