.App {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
h3{
  text-align: center;
}
.card-hai{
  height: 500px;
  width: 300px;
  margin: 5px;
  background-color: #a7a7f6;
  /* text-align: center; */
  padding-top: 0.5%;
  border: 1px solid;
  padding-left: 2%;
}
/* .qr-div{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.qr-code{
  width: 25%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
